<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>

    <!--==========================
    HOME 
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <div class="wow fadeIn">

                <div class="padre">
                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Escudo_FICCT.png" width="200" class="my-4">

                </div>
                <h1>Metodo de Cramer</h1>
                <h2> <span class="rotating"></span></h2>
                <div class="actions">
                    <a class="btn-get-started" [routerLink]="['/matriz']">Iniciar</a>

                </div>
            </div>
        </div>
    </section>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</body>

</html>