body {
    background-color: rgb(53, 53, 53);
}

.main {
    height: 100vh;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}